html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 12px;
}

img {
  width: 100%;
  vertical-align: middle;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

p,
span,
a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.news {
  width: 90%;
  margin: 0 auto;
  width: 100%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .news-wrap {
  width: 100%;
}

.news .page {
  text-align: center;
}

.main-nav {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .logo {
  width: 200px;
}

.main-nav .logo img {
  width: 100%;
}

.hamburger-menu {
  width: 40px;
  height: 32px;
  margin: auto;
  position: absolute;
  top: 5px;
  left: 10px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icon-bar {
  height: 4px;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 999rem;
}

.hamburger-menu .icon-bar:nth-child(1) {
  width: 90%;
}

.hamburger-menu .icon-bar:nth-child(2) {
  width: 50%;
}

.hamburger-menu .icon-bar:nth-child(3) {
  width: 75%;
}

#menu-checkbox {
  width: 0px;
  height: 0px;
  z-index: -1;
  position: absolute;
  top: -100%;
  left: -100%;
}

#menu-checkbox:checked ~ .hamburger-menu .icon-bar {
  width: 100%;
}

#menu-checkbox:checked ~ nav a {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}

.go-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #aaa;
  color: #fff;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.go-top:hover {
  background-color: #ff8800;
  cursor: pointer;
}

article {
  width: 100%;
  margin-bottom: 50px;
}

article img {
  width: 100%;
}

article .news-text {
  width: 95%;
  margin: 10px auto 0;
}

article .news-text span {
  display: inline-block;
  padding-right: 20px;
  margin-top: 20px;
  color: #aaa;
}

article .news-text span + span::before {
  content: '';
  border-left: #aaa 2px solid;
  padding-right: 20px;
}

article .news-text p {
  margin-top: 20px;
}

article .news-text a {
  display: block;
  width: 100px;
  margin-top: 20px;
  padding: 3px 0px;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: #000 1px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

article .news-text a:hover {
  color: #fff;
  background-color: #000;
}

aside {
  width: 35%;
  height: calc(100vh - 40px);
  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #fff;
  -webkit-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
}

aside .aside-block {
  width: 100%;
  margin: auto;
  padding: 5px 0;
}

aside .aside-block h3 {
  display: none;
}

aside .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

aside .search input,
aside .search button {
  outline: none;
  background-color: #f0f0f0;
  border: none;
  padding: 2px 5px;
}

aside .search input {
  width: 70%;
  border-radius: 200px 0 0 200px;
}

aside .search button {
  border-radius: 0 200px 200px 0;
  cursor: pointer;
}

aside .category li {
  padding: 2.5px 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

aside .category li a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-align: left;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

aside .category li a i {
  padding-right: 10px;
  color: #ff8800;
}

footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px 0;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .hamburger-menu {
    display: none;
  }
  .news {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news main {
    width: 60%;
    margin-left: 5%;
  }
  aside {
    width: 35%;
    height: auto;
    position: relative;
    margin: 0 auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  aside .aside-block {
    width: 80%;
  }
  aside .aside-block h3 {
    display: block;
    padding: 10px 0;
    background-color: #aaa;
    color: #fff;
    text-align: center;
  }
  aside .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #f0f0f0;
  }
  aside .search input,
  aside .search button {
    outline: none;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 20px 0px;
  }
  aside .search input {
    width: 70%;
    border-radius: 200px 0 0 200px;
  }
  aside .search button {
    border-radius: 0 200px 200px 0;
    cursor: pointer;
  }
  aside .category li {
    padding: 15px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  aside .category li + li::before {
    content: '';
    width: 100%;
    height: 1.5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ccc;
  }
  aside .category li:hover a {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}
/*# sourceMappingURL=style.css.map */